@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

img {
  vertical-align: top; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

input, textarea {
  outline: none; }

/* --------------------------
  Base
----------------------------*/
html, body {
  height: 100%; }

body {
  font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background: url(../images/bg-container.jpg) no-repeat center top fixed;
  -webkit-text-size-adjust: 100%; }
  body#home {
    background: url(../images/bg-container_home.jpg) no-repeat center top fixed; }

a {
  text-decoration: none; }

/* --------------------------
    Header
----------------------------*/
#header {
  width: 960px;
  margin: 0 auto;
  position: relative;
  z-index: 999999; }
  #header #siteid {
    position: absolute;
    top: 0;
    left: 0; }
  #header #gnav {
    position: absolute;
    top: 0;
    right: 0; }
    #header #gnav ul li {
      display: inline-block; }

#hnav {
  position: absolute;
  top: 347px;
  left: 201px;
  z-index: 101;
  width: 542px; }
  #hnav li {
    display: inline-block; }
    #hnav li.hnav-shop {
      margin-left: -5px; }
    #hnav li.hnav-english {
      margin-left: -4px; }
    #hnav li.hnav-asia {
      margin-left: -7px; }

#mainnav {
  position: absolute;
  margin-left: 37px; }
  #mainnav ul li {
    float: left; }
    #mainnav ul li.mnav02 {
      margin-left: 12px; }
    #mainnav ul li.mnav03 {
      margin-left: 9px; }

/* --------------------------
    Footer
----------------------------*/
/* div#footer */
div#footer {
  margin: 0 auto;
  padding: 15px 0 13px;
  width: 100%;
  background-color: #FFF; }
  div#footer .box {
    width: 960px;
    margin: 0 auto; }

div#footer a {
  color: #545454; }
  div#footer a:hover {
    color: #999; }

table.table_footer_menu {
  margin: 0px;
  padding: 0px;
  float: left; }

table.table_footer_menu td {
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1.5; }

table.table_footer_menu td.aeon {
  width: 140px;
  line-height: 1.0; }

table.table_footer_menu td.home {
  width: 92px;
  text-align: center;
  border-left: 5px solid #676765; }

table.table_footer_menu td ul.footer_aeon_menu {
  margin: 0px 0px 0px 3px;
  padding: 0px;
  list-style: none; }

table.table_footer_menu td ul.footer_aeon_menu li {
  margin: 0px;
  padding: 0px 10px 0px 9px;
  display: inline;
  background: url(../images/sep_footer_aeon_navi.gif) center right no-repeat; }

table.table_footer_menu td ul.footer_aeon_menu li.footer_aeon_menu_last {
  padding-right: 0px;
  background: none; }

img.img_tree {
  margin: 0px 10px 0 0;
  padding: 0px;
  float: right; }

/* p#footer_copyright */
div#footer p#footer_copyright {
  margin: 0;
  padding: 30px 0 0px;
  font-size: 10px;
  text-align: center;
  clear: both; }

/* --------------------------
    Content
----------------------------*/
.wrap-body {
  width: 100%;
  position: relative;
  height: auto !important;
  /*IE6対策*/
  height: 100%;
  /*IE6対策*/
  min-height: 100%; }

#content-area {
  width: 960px;
  margin: 0 auto;
  padding: 15px 0 30px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px; }
  #content-area h2.ttl-page {
    margin: 8px 0 0 8px; }

p#bread {
  color: #724C02;
  font-size: 12px; }
  p#bread a {
    color: #724C02; }
    p#bread a:hover {
      text-decoration: underline; }

/* --------------------------
    Home
----------------------------*/
#container-home {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  background: url(../images/bg-home.png) no-repeat center 348px; }
  #container-home #header #mainnav {
    top: 527px; }

#home-illust {
  position: absolute;
  top: 0;
  width: 960px; }
  #home-illust div {
    position: absolute; }
    #home-illust div.img-chara {
      z-index: 100;
      top: 154px;
      left: -11px; }
    #home-illust div.img-photo {
      z-index: 99;
      top: 59px;
      right: -14px; }

#content-home {
  width: 920px;
  margin: 0 auto;
  padding: 692px 0 50px; }
  #content-home::after {
    clear: both;
    content: "";
    display: table; }

#block-new {
  float: left;
  width: 310px;
  margin-left: 10px; }
  #block-new h2 {
    font-family: Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #0b9e00; }
  #block-new p.link-more {
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
    text-align: right; }
  #block-new a {
    color: #6a5f0f; }
    #block-new a:hover {
      text-decoration: underline; }
  #block-new article {
    margin-top: 30px; }
    #block-new article p {
      line-height: 1.5;
      color: #6a5f0f; }
      #block-new article p a {
        color: #6a5f0f; }
      #block-new article p.new-date {
        font-size: 12px;
        font-weight: bold; }
      #block-new article p.new-txt {
        font-size: 14px;
        margin-top: 3px; }
      #block-new article p.new-pdf {
        font-size: 12px;
        font-weight: bold;
        line-height: 1;
        text-align: right; }

#block-homenav {
  float: right;
  width: 560px; }
  #block-homenav ul::after {
    clear: both;
    content: "";
    display: table; }
  #block-homenav ul li {
    position: relative;
    float: left;
    width: 266px;
    margin-bottom: 40px;
    margin-left: 20px; }
    #block-homenav ul li:nth-child(2n+1) {
      margin-left: 0; }
    #block-homenav ul li a:hover img {
      opacity: 0.7; }
    #block-homenav ul li a:hover span {
      color: #a46d03;
      background: url(../images/bg-woodbn_over.png) no-repeat top center; }
    #block-homenav ul li img.photo {
      border: 6px solid #fff; }
    #block-homenav ul li span {
      font-family: Arial, sans-serif;
      font-size: 15px;
      font-weight: bold;
      position: absolute;
      z-index: 100;
      right: 0;
      bottom: -27px;
      left: 0;
      display: block;
      width: 218px;
      height: 34px;
      margin: 0 auto;
      padding-top: 18px;
      text-align: center;
      color: #724c02;
      background: url(../images/bg-woodbn.png) no-repeat top center; }

/* --------------------------
    Page
----------------------------*/
#container {
  position: relative;
  height: auto !important;
  /*IE6対策*/
  height: 100%;
  /*IE6対策*/
  min-height: 100%;
  background: url(../images/bg-header.png) no-repeat top center; }
  #container #header {
    height: 275px; }
    #container #header #mainnav {
      top: 145px; }

#content-page {
  width: 920px;
  margin: 0 auto;
  padding: 0 20px 100px; }
  #content-page::after {
    clear: both;
    content: "";
    display: table; }
  #content-page h1.page-ttl {
    font-family: Arial, sans-serif;
    font-size: 19px;
    font-weight: bold;
    margin-top: 18px;
    padding-bottom: 10px;
    color: #724c02;
    border-bottom: 2px solid #6a5f0f; }
  #content-page #local-nav {
    font-family: Arial, sans-serif;
    float: left;
    width: 220px;
    margin-top: 25px; }
    #content-page #local-nav ul li {
      font-size: 16px;
      font-weight: bold;
      line-height: 1; }
      #content-page #local-nav ul li a {
        display: block;
        width: 198px;
        height: 34px;
        padding-top: 18px;
        padding-left: 20px;
        color: #724c02; }
        #content-page #local-nav ul li a:hover {
          background: url(../images/bg-woodbn_on.png) no-repeat top center; }
      #content-page #local-nav ul li.cur a {
        color: #724c02;
        background: url(../images/bg-woodbn.png) no-repeat top center; }
      #content-page #local-nav ul li.w a {
        height: 43px;
        padding-top: 9px; }
    #content-page #local-nav div.side-illust {
      width: 100%;
      margin-top: 30px;
      text-align: center; }
  #content-page #block-content {
    float: right;
    width: 650px;
    margin-top: 25px; }
    #content-page #block-content section.box-content {
      margin-top: 40px; }
      #content-page #block-content section.box-content::after {
        clear: both;
        content: "";
        display: table; }
      #content-page #block-content section.box-content:first-child {
        margin-top: 0; }
      #content-page #block-content section.box-content h1,
      #content-page #block-content section.box-content h2,
      #content-page #block-content section.box-content h3 {
        font-family: Arial, sans-serif;
        font-weight: bold;
        color: #0b9e00; }
      #content-page #block-content section.box-content h1 {
        font-size: 36px; }
      #content-page #block-content section.box-content h1 + div.box-txt {
        margin-top: 20px; }
        #content-page #block-content section.box-content h1 + div.box-txt + div.box-img {
          margin-top: 20px; }
      #content-page #block-content section.box-content h2 {
        font-size: 22px;
        line-height: 1.2;
        margin: 20px 0;
        padding-bottom: 5px;
        border-bottom: 2px solid #0b9e00; }
        #content-page #block-content section.box-content h2:first-child {
          margin-top: 0; }
      #content-page #block-content section.box-content h3 {
        font-size: 18px;
        line-height: 1.2;
        margin-top: 20px; }
        #content-page #block-content section.box-content h3:first-child {
          margin-top: 0; }
      #content-page #block-content section.box-content p {
        font-size: 16px;
        line-height: 1.4;
        margin-top: 13px;
        color: #6a5f0f; }
        #content-page #block-content section.box-content p:first-child {
          margin-top: 0; }
    #content-page #block-content div.box-txt {
      width: 350px; }
    #content-page #block-content div.box-img {
      width: 266px; }
      #content-page #block-content div.box-img div.photo {
        padding-bottom: 15px; }
        #content-page #block-content div.box-img div.photo img {
          border: 6px solid #fff; }

/* Info */
table.info-table {
  margin-top: -20px; }
  table.info-table th {
    width: 150px; }

/* News */
div.list-news dl {
  margin-top: 20px; }
  div.list-news dl:first-child {
    margin-top: 20px; }
  div.list-news dl dt {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #0b9e00; }
  div.list-news dl dd {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 3px;
    color: #6a5f0f; }
    div.list-news dl dd a {
      color: #6a5f0f; }
      div.list-news dl dd a:hover {
        text-decoration: underline; }

/* --------------------------
    Module
----------------------------*/
.hidden {
  display: none; }

.floatL {
  float: left; }

.floatR {
  float: right; }

.txt-center {
  text-align: center; }

/* Margin */
.mgnT10 {
  margin-top: 10px; }

.mgnT15 {
  margin-top: 15px; }

.mgnT20 {
  margin-top: 20px; }

.mgnT25 {
  margin-top: 25px; }

.mgnT30 {
  margin-top: 30px; }

.mgnT35 {
  margin-top: 35px; }

.mgnT40 {
  margin-top: 40px; }

.mgnT45 {
  margin-top: 45px; }

.mgnT50 {
  margin-top: 50px; }

/* Padding */
.pdnT10 {
  padding-top: 10px; }

.pdnT15 {
  padding-top: 15px; }

.pdnT20 {
  padding-top: 20px; }

.pdnT25 {
  padding-top: 25px; }

.pdnT30 {
  padding-top: 30px; }

.pdnT35 {
  padding-top: 35px; }

.pdnT40 {
  padding-top: 40px; }

.pdnT45 {
  padding-top: 45px; }

.pdnT50 {
  padding-top: 50px; }

/* Table */
.table01 {
  width: 100%; }
  .table01 tr {
    border-bottom: 1px solid #0B9E00; }
    .table01 tr th, .table01 tr td {
      font-size: 14px;
      padding: 13px 0;
      vertical-align: top;
      line-height: 1.3; }

/* Column */
/* Text */
.iconlink {
  min-height: 13px;
  padding-left: 16px;
  background: url(images/ico_link001.png) no-repeat left top; }

strong {
  font-weight: bold; }

.txt-small {
  font-size: 12px !important; }

/* Text color */
.font-ora {
  color: #ff4800; }

.font-red {
  color: #f00; }

.font-blue {
  color: #00F; }

.font-green {
  color: #219402; }
