@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

img {
  vertical-align: top; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

input, textarea {
  outline: none; }

/* --------------------------
  Font
----------------------------*/
@font-face {
    font-family: "KGFont";
    src: url(KGCorneroftheSky.ttf);
}

/* --------------------------
  Base
----------------------------*/
body {
  font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background: url(../images/bg-main.jpg) no-repeat center top;
  -webkit-text-size-adjust: 100%; }

body.page {
  background: none; }
  body.page #container {
    background: #b5cd0f url(../images/bg-container.jpg) no-repeat center top; }

a {
  text-decoration: none;
}

/* --------------------------
    Header
----------------------------*/
#header {
  width: 960px;
  margin: 0 auto;
  position: relative;
  z-index: 999999; }
  #header #gnav {
    position: absolute;
    top: 0;
    right: 0; }
    #header #gnav ul li {
      display: inline-block; }

#hnav {
  position: absolute;
  top: 347px;
  left: 120px;
  z-index: 300;
  width: 702px; }
  #hnav li {
    display: inline-block; }
    #hnav li.hnav-shop {
      margin-left: -5px; }
    #hnav li.hnav-english {
      margin-left: -4px; }
    #hnav li.hnav-asia {
      margin-left: -7px; }
    #hnav li.hnav-onshop {
      margin-left: -7px; }

/* --------------------------
    Footer
----------------------------*/
div#wrap-footer {
  background-color: #FFF;
  width: 100%; }

/* div#footer */
div#footer {
  margin: 0 auto;
  padding: 15px 0 13px;
  width: 960px; }

div#footer a {
  color: #545454; }
  div#footer a:hover {
    color: #999; }

table.table_footer_menu {
  margin: 0px;
  padding: 0px;
  float: left; }

table.table_footer_menu td {
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1.5; }

table.table_footer_menu td.aeon {
  width: 140px;
  line-height: 1.0; }

table.table_footer_menu td.home {
  width: 92px;
  text-align: center;
  border-left: 5px solid #676765; }

table.table_footer_menu td ul.footer_aeon_menu {
  margin: 0px 0px 0px 3px;
  padding: 0px;
  list-style: none; }

table.table_footer_menu td ul.footer_aeon_menu li {
  margin: 0px;
  padding: 0px 10px 0px 9px;
  display: inline;
  background: url(../images/sep_footer_aeon_navi.gif) center right no-repeat; }

table.table_footer_menu td ul.footer_aeon_menu li.footer_aeon_menu_last {
  padding-right: 0px;
  background: none; }

img.img_tree {
  margin: 0px 10px 0 0;
  padding: 0px;
  float: right; }

/* p#footer_copyright */
div#footer p#footer_copyright {
  margin: 0;
  padding: 30px 0 0px;
  font-size: 10px;
  text-align: center;
  clear: both; }

/* --------------------------
    Content
----------------------------*/
#headtree {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 116px;
  background: url(../images/bg-header.png) no-repeat center top;
  z-index: 9999; }

#content-area {
  width: 930px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px; }
  #content-area h2.ttl-page {
    margin: 8px 0 0 8px; }

p#bread {
  color: #724C02;
  font-size: 12px;
  margin-left: 18px; }
  p#bread a {
    color: #724C02; }
    p#bread a:hover {
      text-decoration: underline; }

/* --------------------------
    Home
----------------------------*/
#container-home {
  width: 100%;
  height: 1480px;
  background: url(../images/bg-wood.png) no-repeat center top; }

#tree {
  width: 960px;
  height: 1480px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

#home-content-area {
  width: 960px;
  height: 1480px;
  position: relative; }
  #home-content-area img#maintree {
    position: absolute;
    z-index: 100; }

/* house on the tree */
div.home-content {
  position: absolute; }

#box-youtube {
  top: 57px;
  left: 295px;
  z-index: 118; }
  #box-youtube a {
    background: url(../images/box-movie_off.png) no-repeat center top;
    width: 378px;
    height: 236px;
    display: block; }
    #box-youtube a:hover {
      background: url(../images/box-movie_on.png) no-repeat center top;
      width: 378px;
      height: 236px;
      display: block; }
  #box-youtube img.movie {
    position: absolute;
    top: 38px;
    left: 59px;
    z-index: 128; }

#box-lala {
  z-index: 118;
  top: 640px;
  left: 264px; }

#box-library {
  z-index: 117;
  top: 501px;
  left: 32px; }
  #box-library a {
    background: url(../images/box-library_off.png) no-repeat center top;
    display: block;
    width: 258px;
    height: 435px; }
    #box-library a:hover {
      background: url(../images/box-library_on.png) no-repeat center top;
      display: block; }

#box-new {
  z-index: 116;
  top: 409px;
  right: 158px; }

#box-closet {
  z-index: 115; }

#box-restaurant {
  z-index: 114;
  top: 621px;
  right: 80px; }

#box-workshop {
  z-index: 113;
  top: 994px;
  left: 163px; }

#box-event {
  z-index: 112;
  top: 406px;
  left: 226px; }

#box-shop {
  z-index: 111;
  top: 1095px;
  right: 131px; }

#box-company {
  top: 1217px;
  left: 295px;
  z-index: 110; }

/* anime chara */
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  background: #fff; }
  .loading img {
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px; }

body#home .loading {
  height: 1508px; }

body#movie .loading {
  height: 817px; }

body#workshop .loading {
  height: 1100px; }

body#library .loading {
  height: 1000px; }

body#closet .loading {
  height: 1000px; }

.home-anime {
  position: absolute; }

.button-action .idle {
  display: block; }
.button-action .over {
  display: none; }
.button-action.over .idle {
  display: none; }
.button-action.over .over {
  display: block; }

/* anime chara */
.home-anime {
  position: absolute; }
  .home-anime .mov {
    position: absolute;
    top: 0;
    left: 0; }
    .home-anime .mov .idle {
      width: 100%;
      height: 100%; }
    .home-anime .mov .over {
      width: 100%;
      height: 100%; }

#anime-AEO {
  top: 199px;
  left: 111px;
  z-index: 200; }
  #anime-AEO .mov {
    width: 176px;
    height: 152px; }

#anime-LALA {
  top: 509px;
  left: 531px;
  z-index: 201; }
  #anime-LALA .mov {
    width: 170px;
    height: 150px; }

#anime-PYUTAN {
  top: 564px;
  left: 357px;
  z-index: 202; }
  #anime-PYUTAN .mov {
    width: 76px;
    height: 88px; }

#anime-PANBIT {
  top: 849px;
  left: 512px;
  z-index: 203; }
  #anime-PANBIT .mov {
    width: 160px;
    height: 128px; }

#anime-Smoke {
  top: 559px;
  left: 759px;
  z-index: 204; }

/* SNS */
#sns-box li {
  display: inline;
  position: absolute;
  z-index: 800;
  background-repeat: no-repeat;
  background-position: left top; }
  #sns-box li a:hover img {
    opacity: 0.7; }
  #sns-box li.sns-fb {
    left: 515px;
    top: 677px; }
  #sns-box li.sns-kids {
    left: 570px;
    top: 668px; }
  #sns-box li.sns-app {
    left: 625px;
    top: 663px; }
  #sns-box li.sns-line {
    left: 505px;
    top: 738px; }
  #sns-box li.sns-cart {
    left: 560px;
    top: 729px; }
  #sns-box li.sns-kodomo {
    left: 615px;
    top: 722px; }

#bn-area {
  width: 100%;
  padding: 10px 0 20px;
  background-color: #B7CC0F; }
  #bn-area ul {
    width: 960px;
    margin: 0 auto;
    text-align: center; }
    #bn-area ul li {
      display: inline-block;
      width: 252px;
      margin: 0 5px;
      background-color: #fff; }
      #bn-area ul li a:hover img {
        opacity: 0.9; }

/* --------------------------
    Library
----------------------------*/
body#library {
  background: url(../images/library/bg.jpg) no-repeat center top; }

#container-library {
  width: 960px;
  height: 1000px;
  margin: 0 auto; }

#library-house {
  width: 960px;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100; }

#library-content-area {
  width: 960px;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto; }
  #library-content-area div {
    position: absolute;
    z-index: 100; }
  #library-content-area .mov {
    pointer-events: none;
    z-index: 100;
    position: absolute;
    top: 310px;
    top: 310px;
    left: 479px;
    height: 250px;
    z-index: 1000; }
    #library-content-area .mov .idle {
      width: 200px;
      height: 250px;
      display: block; }
    #library-content-area .mov .overmusic {
      width: 200px;
      height: 250px;
      display: none; }
    #library-content-area .mov .overbook {
      width: 200px;
      height: 250px;
      display: none; }
    #library-content-area .mov.overmusic .idle {
      display: none; }
    #library-content-area .mov.overmusic .overmusic {
      display: block; }
    #library-content-area .mov.overmusic .overbook {
      display: none; }
    #library-content-area .mov.overbook .idle {
      display: none; }
    #library-content-area .mov.overbook .overboad {
      display: none; }
    #library-content-area .mov.overbook .overbook {
      display: block; }

#library-box01 {
  top: 204px;
  left: 176px;
  z-index: 100; }

#library-box02 {
  top: 487px;
  left: 252px;
  z-index: 100; }

/* Modal */
body.library-modal {
  background: url(../library/images/bg-modal.png) no-repeat left top fixed; }

section.modal-area {
  width: 100%;
  height: auto; }
  section.modal-area div.ehon-box {
    width: 610px;
    margin: 67px auto 0; }
    section.modal-area div.ehon-box:after {
      content: "";
      display: table;
      clear: both; }
  section.modal-area h1 {
    margin: 9px 0 0 10px; }
  section.modal-area article {
    background-color: #FFF;
    width: 280px;
    height: 106px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    float: left; }
    section.modal-area article:first-child, section.modal-area article:nth-child(2n+1) {
      margin-left: 0; }
    section.modal-area article div.thumb {
      display: table-cell;
      width: 90px; }
    section.modal-area article div.data {
      display: table-cell;
      position: relative;
      padding-left: 10px; }
      section.modal-area article div.data h2 {
        color: #FC55A3;
         line-height: 1.2;
        font-size: 14px;
        font-weight: bold; }
      section.modal-area article div.data p {
        font-size: 14px;
        line-height: 1.2;
        margin-top: 3px; }
      section.modal-area article div.data div.btn {
        position: absolute;
        bottom: 0; }
/* --------------------------
   Closet
----------------------------*/
body#closet {
  background: url(../images/closet/bg.jpg) no-repeat center top; }

#container-closet {
  width: 960px;
  height: 1000px;
  margin: 0 auto; }

#closet-house {
  width: 960px;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100; }

#closet-content-area {
  width: 960px;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto; }
  #closet-content-area .mov {
    pointer-events: none;
    z-index: 100;
    position: absolute;
    top: 298px;
    left: 530px;
    width: 350px;
    height: 300px;
    z-index: 1000; }
    #closet-content-area .mov .idle {
      width: 350px;
      height: 300px;
      display: block; }
    #closet-content-area .mov .overa {
      width: 350px;
      height: 300px;
      display: block; }
    #closet-content-area .mov .overb {
      width: 350px;
      height: 300px;
      display: block; }
    #closet-content-area .mov .overc {
      width: 350px;
      height: 300px;
      display: block; }
    #closet-content-area .mov .overd {
      width: 350px;
      height: 300px;
      display: block; }
    #closet-content-area .mov .overe {
      width: 350px;
      height: 300px;
      display: block; }
    #closet-content-area .mov .overa,
    #closet-content-area .mov .overb,
    #closet-content-area .mov .overc,
    #closet-content-area .mov .overd,
    #closet-content-area .mov .overe {
      display: none; }
    #closet-content-area .mov.overa .overa {
      display: block; }
    #closet-content-area .mov.overa .idle,
    #closet-content-area .mov.overa .overb,
    #closet-content-area .mov.overa .overc,
    #closet-content-area .mov.overa .overd,
    #closet-content-area .mov.overa .overe {
      display: none; }
    #closet-content-area .mov.overb .overb {
      display: block; }
    #closet-content-area .mov.overb .idle,
    #closet-content-area .mov.overb .overa,
    #closet-content-area .mov.overb .overc,
    #closet-content-area .mov.overb .overd,
    #closet-content-area .mov.overb .overe {
      display: none; }
    #closet-content-area .mov.overc .overc {
      display: block; }
    #closet-content-area .mov.overc .idle,
    #closet-content-area .mov.overc .overa,
    #closet-content-area .mov.overc .overb,
    #closet-content-area .mov.overc .overd,
    #closet-content-area .mov.overc .overe {
      display: none; }
    #closet-content-area .mov.overd .overd {
      display: block; }
    #closet-content-area .mov.overd .idle,
    #closet-content-area .mov.overd .overa,
    #closet-content-area .mov.overd .overb,
    #closet-content-area .mov.overd .overc,
    #closet-content-area .mov.overd .overe {
      display: none; }
    #closet-content-area .mov.overe .overe {
      display: block; }
    #closet-content-area .mov.overe .idle,
    #closet-content-area .mov.overe .overa,
    #closet-content-area .mov.overe .overb,
    #closet-content-area .mov.overe .overc,
    #closet-content-area .mov.overe .overd {
      display: none; }

#closet-box01 {
  top: 447px;
  left: 103px;
  z-index: 100;
  position: absolute; }

#closet-box02 {
  top: 263px;
  left: 268px;
  width: 255px;
  height: 190px;
  z-index: 100;
  position: absolute;
  background-image: url(../images/closet/lala_closet_A.png);
  cursor: pointer; }
  #closet-box02.overa {
    background-image: url(../images/closet/lala_closet_A.png); }
  #closet-box02.overb {
    background-image: url(../images/closet/lala_closet_B.png); }
  #closet-box02.overc {
    background-image: url(../images/closet/lala_closet_C.png); }
  #closet-box02.overd {
    background-image: url(../images/closet/lala_closet_D.png); }
  #closet-box02.overe {
    background-image: url(../images/closet/lala_closet_E.png); }
  #closet-box02.activea {
    background-image: url(../images/closet/lala_closet_A_no.png) !important; }
  #closet-box02.activeb {
    background-image: url(../images/closet/lala_closet_B_no.png) !important; }
  #closet-box02.activec {
    background-image: url(../images/closet/lala_closet_C_no.png) !important; }
  #closet-box02.actived {
    background-image: url(../images/closet/lala_closet_D_no.png) !important; }
  #closet-box02.activee {
    background-image: url(../images/closet/lala_closet_E_no.png) !important; }

/* --------------------------
   Workshop
----------------------------*/
body#workshop {
  background: url(../images/workshop/bg.jpg) no-repeat center top; }

#container-workshop {
  width: 960px;
  height: 1100px;
  margin: 0 auto; }

#workshop-house {
  width: 960px;
  height: 1100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100; }

#workshop-content-area {
  width: 960px;
  height: 1100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto; }
  #workshop-content-area div {
    position: absolute;
    z-index: 100; }
  #workshop-content-area .mov {
    pointer-events: none;
    z-index: 100;
    position: absolute;
    top: 661px;
    left: 475px;
    width: 400px;
    height: 200px; }
    #workshop-content-area .mov .idle {
      width: 400px;
      height: 200px;
      display: block; }
    #workshop-content-area .mov .overboad {
      width: 400px;
      height: 200px;
      display: none; }
    #workshop-content-area .mov .overtable {
      width: 400px;
      height: 200px;
      display: none; }
    #workshop-content-area .mov.overboad .idle {
      display: none; }
    #workshop-content-area .mov.overboad .overboad {
      display: block; }
    #workshop-content-area .mov.overboad .overtable {
      display: none; }
    #workshop-content-area .mov.overtable .idle {
      display: none; }
    #workshop-content-area .mov.overtable .overboad {
      display: none; }
    #workshop-content-area .mov.overtable .overtable {
      display: block; }

#workshop-box01 {
  top: 156px;
  left: 379px; }

#workshop-box02 {
  top: 503px;
  left: 112px; }

/* Modal */
body.workshop-modal {
  background: url(../library/images/bg-modal.png) no-repeat left top fixed; }

section.modal-area {
  width: 100%;
  height: auto; }
  section.modal-area h1 {
    margin: 9px 0 0 10px; }
  section.modal-area div.bg-box {
    width: 860px;
    margin: 50px auto 0; }
    section.modal-area div.bg-box ul {
      background-color: #FFF;
      width: 840px;
      margin: 0 auto 10px;
      padding: 10px 10px 10px 0;
      text-align: center; }
      section.modal-area div.bg-box ul:after {
        content: "";
        display: table;
        clear: both; }
      section.modal-area div.bg-box ul li {
        float: left;
        width: 200px;
        margin-left: 10px; }
        section.modal-area div.bg-box ul li p {
          color: #FC55A3;
          font-size: 14px;
          font-weight: bold;
          padding: 5px 0;
          font-size: 14px; }
  section.modal-area div.pc-box {
    width: 860px;
    min-height: 550px;
    margin: 50px auto 0; }
    section.modal-area div.pc-box ul {
      width: 840px;
      margin: 0 auto ２0px;
      padding: 10px 10px 10px 0;
      text-align: center; }
      section.modal-area div.pc-box ul li {
        background-color: #FFF;
        display: inline-block;
        width: 180px;
        padding: 10px;
        margin: 0 10px 20px; }
        section.modal-area div.pc-box ul li p {
          color: #FC55A3;
          font-size: 14px;
          font-weight: bold;
          padding: 5px 0;
          font-size: 14px; }

/* --------------------------
   Movie
----------------------------*/
body#movie {
  background: url(../images/movie/bg.jpg) no-repeat center top; }

#container-movie {
  width: 960px;
  height: 817px;
  margin: 0 auto; }

#movie-tree {
  width: 960px;
  height: 817px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -100; }

#movie-content-area {
  width: 960px;
  height: 817px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto; }
  #movie-content-area .mov {
    pointer-events: none;
    top: 168px;
    left: 21px;
    width: 960px;
    height: 530px;
    z-index: 100;
    position: absolute;
    background-position: left; }

#movie-box {
  top: 163px;
  left: 224px;
  width: 479px;
  height: 283px;
  z-index: 100;
  position: absolute; }

/* --------------------------
    Event
----------------------------*/
#event-block section.event-box {
  width: 896px;
  margin: 34px auto 0;
  background-color: #FFF;
  border-left: 2px solid #ffda86;
  border-right: 2px solid #ffda86;
  border-bottom: 2px solid #ffda86;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
  position: relative;
  padding: 10px 0; }
  #event-block section.event-box p.date {
    position: absolute;
    top: -20px;
    left: -2px; }
  #event-block section.event-box article {
    width: 877px;
    margin: 15px auto 0; }
    #event-block section.event-box article h1 {
      color: #E7529F;
      font-size: 14px;
      font-weight: bold;
      margin-top: 10px; }
    #event-block section.event-box article p {
      color: #007CC4;
      font-size: 12px;
      font-weight: bold;
      line-height: 1.5;
      margin-top: 5px; }
    #event-block section.event-box article table {
      color: #007CC4;
      font-size: 12px;
      font-weight: bold; }
    #event-block section.event-box article p.caption {
      color: #545454;
      font-weight: normal; }
  #event-block section.event-box p.date + article {
    margin-top: 14px; }
#event-block div.bn-clmn2 {
  width: 900px;
  margin: 15px auto 0; }
  #event-block div.bn-clmn2:after {
    content: "";
    display: table;
    clear: both; }

/* --------------------------
    News
----------------------------*/
#news-nav {
  margin: 10px 0 0 30px;
  width: 550px; }
  #news-nav li {
    font-size: 12px;
    margin: 0 54px 0 0;
    display: inline-block; }
    #news-nav li a {
      background: url(../images/ico-list.png) no-repeat left center;
      min-height: 11px;
      padding-left: 15px; }

#news-list {
  width: 896px;
  margin: 44px auto 0;
  background-color: #FFF;
  border-left: 2px solid #6797eb;
  border-right: 2px solid #6797eb;
  border-bottom: 2px solid #6797eb;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
  position: relative;
  padding: 10px 0; }
  #news-list h3 {
    position: absolute;
    top: -40px;
    left: -2px; }
  #news-list table {
    width: 865px;
    margin: 0 auto;
    margin-top:13px;
    font-size: 12px; }
    #news-list table tr {
      background: url(../images/line-dot.png) repeat-x left bottom; }
    #news-list table th {
      width: 115px;
      padding: 10px 0;
      color: #545454; }
    #news-list table td {
      width: 700px;
      padding: 10px 0; }
      #news-list table td a {
        color: #007CC4; }
      #news-list table td.pdf {
        width: 50px; }
        #news-list table td.pdf p {
          background: url(../news/images/list_pdf.png) no-repeat left 4px;
          padding-left: 8px;
          font-size: 11px; }
          #news-list table td.pdf p a {
            background: url(../news/images/icon_pdf.png) no-repeat right center;
            color: #545454;
            padding-top: 2px;
            padding-right: 20px;
            min-height: 15px;
            display: block; }

#adobe {
  text-align: center;
  margin-top: 20px; }
  #adobe p {
    font-size: 12px;
    color: #545454;
    display: inline-block;
    vertical-align: middle; }
    #adobe p:after {
      content: "";
      display: table;
      clear: both; }
    #adobe p img {
      margin-right: 20px;
      vertical-align: middle; }

/* --------------------------
    Shop
----------------------------*/
body#shop {
  background: #b5cd0f url(../images/bg-container.jpg) no-repeat center top fixed; }
body#shop #container {
  background: url(../brand/images/bg-shop.png) no-repeat fixed center top; }

#shop-bread {
  width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 10px;
  border-radius: 10px; }

#shop-index-block {
  width: 980px;
  height: 735px;
  margin: 0 auto;
  position: relative; }
  #shop-index-block h2.ttl-page {
    margin: -5px 0 0 18px;
    position: absolute;
    z-index: 999; }
  #shop-index-block #shop-house {
    background: url(../brand/images/shop-house.png) no-repeat center top;
    position: absolute;
    width: 977px;
    height: 732px;
    top: 17px; }

#map-asia {
  background: url(../brand/images/map-asia.png) no-repeat center center;
  width: 645px;
  height: 462px;
  position: relative;
  top: 93px;
  left: 167px; }
  #map-asia dl {
    position: absolute;
    text-align: center; }
    #map-asia dl#date {
      font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
      top: -3px;
      left: 530px;
      color: #06A724;
      text-align: right;
      font-size: 11px; }
    #map-asia dl#japan {
      top: 96px;
      left: 517px;
      cursor: pointer; }
    #map-asia dl#china {
      top: 113px;
      left: 324px;
      cursor: pointer; }
    #map-asia dl#vietnam {
      top: 200px;
      left: 320px; }
    #map-asia dl#malaysia {
      top: 289px;
      left: 342px;
      cursor: pointer; }
    #map-asia dl#cambodia {
      top: 275px;
      left: 212px; }
    #map-asia dl#thai {
      top: 200px;
      left: 115px;
      cursor: pointer; }
    #map-asia dl#total {
      top: 195px;
      left: 500px; }
    #map-asia dl#philippines {
      top: 320px;
      left: 460px;
      cursor: pointer; }
    #map-asia dl#indonesia {
      top: 375px;
      left: 282px;
      cursor: pointer; }
    #map-asia dl dt {
      margin-bottom: 5px; }
    #map-asia dl dd {
      font-size: 34px;
      font-weight: bold;
      color: #06A724;
      font-family: Helvetica, Arial, Verdana, sans-serif;
      font-weight: bold; }
    #map-asia dl#total dd {
      color: #d26b10;
      font-size: 45px; }
  #map-asia p.btn-map {
    left: 35px; }

#map-japan {
  background: url(../brand/images/map-japan.png) no-repeat center center;
  width: 645px;
  height: 462px;
  position: relative;
  top: 93px;
  left: 167px; }
  #map-japan ul li {
    position: absolute; }
    #map-japan ul li#btn-hokkaido {
      top: 85px;
      left: 454px; }
    #map-japan ul li#btn-chubu {
      top: 225px;
      left: 284px; }
    #map-japan ul li#btn-kanto {
      top: 300px;
      left: 398px; }
    #map-japan ul li#btn-kinki {
      top: 390px;
      left: 270px; }
    #map-japan ul li#btn-shikoku {
      top: 275px;
      left: 100px; }
    #map-japan ul li#btn-kyushu {
      top: 378px;
      left: 45px; }
  #map-japan p.btn-map {
    left: 20px; }

#map-asia p.btn-map,
#map-japan p.btn-map {
  position: absolute;
  top: 0;
  cursor: pointer; }
#map-asia.hide,
#map-japan.hide {
  display: none; }

#content-area {
  position: relative;
  z-index: 999; }

#brand-block article {
  width: 896px;
  margin: 44px auto 0;
  background-color: #FFF;
  border-left: 2px solid #4aaa64;
  border-right: 2px solid #4aaa64;
  border-bottom: 2px solid #4aaa64;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
  position: relative;
  padding: 30px 0 20px; }
  #brand-block article:after {
    content: "";
    display: table;
    clear: both; }
  #brand-block article h3 {
    position: absolute;
    top: -35px;
    left: -2px; }
  #brand-block article .floatL {
    width: 480px;
    margin-left: 10px; }
  #brand-block article .floatR {
    width: 400px;
    margin-right: 5px;
    padding-top: 20px; }
  #brand-block article p.btn {
    text-align: center; }
  #brand-block article p.btn a:hover img {
    opacity: 0.7; }
  #brand-block article h4 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 15px;
    color : #1aa62f;
    text-shadow:
    	-1px -1px 0px #fff,
    	1px -1px 0px #fff,
    	1px 1px 0px #fff,
    	-1px 1px 0px #fff,
    	-2px -2px 2px #fff,
    	2px -2px 2px #fff,
    	2px 2px 2px #fff,
    	-2px 2px 2px #fff,
    	-2px -2px 2px #1aa62f,
    	2px -2px 2px #1aa62f,
    	2px 2px 2px #1aa62f,
    	-2px 2px 2px #1aa62f;
     }
  #brand-block article p {
    color: #545454;
    font-size: 12px;
    line-height: 1.5;
    margin-top: 10px; }
  #brand-block article ul {
    margin-top: 10px; }
    #brand-block article ul li {
      font-size: 12px;
      margin: 0 20px 0 0;
      display: inline-block; }
      #brand-block article ul li a {
        background: url(../images/ico-list.png) no-repeat left center;
        min-height: 11px;
        padding-left: 15px; }

#area-block {
  padding-bottom: 30px; }
  #area-block #area-nav {
    width: 900px;
    margin: 40px auto 0; }
    #area-block #area-nav:after {
      content: "";
      display: table;
      clear: both; }
    #area-block #area-nav ul {
      float: left; }
      #area-block #area-nav ul li {
        font-size: 12px;
        margin: 0 15px 0 0;
        display: inline-block; }
        #area-block #area-nav ul li a {
          background: url(../images/ico-list.png) no-repeat left center;
          min-height: 11px;
          padding-left: 15px;
          color: #007CC4; }
          #area-block #area-nav ul li a:hover {
            text-decoration: underline; }
    #area-block #area-nav p#back-japan {
      float: right;
      font-size: 12px;
      display: inline-block; }
      #area-block #area-nav p#back-japan a {
        background: url(../images/ico-list.png) no-repeat left center;
        min-height: 11px;
        padding-left: 15px;
        color: #007CC4; }
        #area-block #area-nav p#back-japan a:hover {
          text-decoration: underline; }
  #area-block article {
    width: 896px;
    margin: 50px auto 0;
    background-color: #FFF;
    border-left: 2px solid #4aaa64;
    border-right: 2px solid #4aaa64;
    border-bottom: 2px solid #4aaa64;
    -webkit-border-bottom-left-radius: 7px;
    border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    border-bottom-right-radius: 7px;
    position: relative;
    padding: 50px 0; }
    #area-block article h3 {
      position: absolute;
      top: -35px;
      left: -2px; }
    #area-block article #shop-icon ul {
      margin-right: 15px;
      text-align: right; }
      #area-block article #shop-icon ul li {
        display: inline-block; }
    #area-block article #prefecture-nav {
      margin: 15px 0 0 15px; }
      #area-block article #prefecture-nav li {
        font-size: 12px;
        margin: 0 15px 0 0;
        display: inline-block; }
        #area-block article #prefecture-nav li a {
          background: url(../images/ico-list.png) no-repeat left center;
          min-height: 11px;
          padding-left: 15px;
          color: #007CC4; }
          #area-block article #prefecture-nav li a:hover {
            text-decoration: underline; }

h2.h2_area_title {
  background-color: #56A646;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  width: 848px;
  margin: 30px auto 0;
  color: #FFF; }

table.table_aeonmap_area {
  width: 868px;
  margin: 0 auto;
  border: 1px solid #D4D4D4; }
  table.table_aeonmap_area tr th, table.table_aeonmap_area tr td {
    border: 1px solid #D4D4D4;
    font-size: 12px;
    padding: 5px 10px; }
  table.table_aeonmap_area tr th {
    text-align: center;
    background-color: #F5F5F5; }
    table.table_aeonmap_area tr th.th_name {
      width: 148px; }
    table.table_aeonmap_area tr th.th_address {
      width: 450px; }
    table.table_aeonmap_area tr th.th_tel {
      width: 95px; }
  table.table_aeonmap_area tr td.td_name {
    line-height: 1.4; }
  table.table_aeonmap_area tr td.td_address {
    width: 220px;
    line-height: 1.4; }
  table.table_aeonmap_area tr td.td_icon {
    text-align: center; }

div.to_top {
  text-align: right;
  font-size: 12px;
  margin: 10px 15px 0 0; }
  div.to_top a {
    background: url(../images/ico_top.png) no-repeat left center;
    padding-left: 15px;
    min-height: 11px;
    color: #007CC4; }
    div.to_top a:hover {
      text-decoration: underline; }

/* --------------------------
    Ikujii
----------------------------*/
#ikujii-block article {
  width: 896px;
  margin: 10px auto 0;
  background-color: #FFF;
  border-left: 2px solid #4aaa64;
  border-right: 2px solid #4aaa64;
  border-bottom: 2px solid #4aaa64;
  border-top: 2px solid #4aaa64;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  border-bottom-top-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  border-bottom-bottom-radius: 7px;
  position: relative;
  padding: 50px 0 40px; }
  #ikujii-block article h3 {
    position: absolute;
    top: -20px;
    left: -2px; }
  #ikujii-block article div.ikujii-box {
    width: 896px;
    margin: 0 auto; }
  #ikujii-block article div.txt {
    width: 780px;
    margin: 20px auto 0; }
  #ikujii-block article h4 {
    color: #CB5194;
    font-weight: bold;
    font-size: 16px; }
  #ikujii-block article ul#ikujii-rule {
    margin-top: 15px;
    margin-left: 5px; }
    #ikujii-block article ul#ikujii-rule li {
      color: #CB5194;
      font-size: 12px;
      line-height: 1.4;
      background: url(../ikujii/images/list_red.gif) no-repeat left center;
      padding-left: 10px; }
  #ikujii-block article p.caption {
    margin-top: 15px;
    font-size: 12px;
    line-height: 1.4;
    color: #545454; }

/* --------------------------
    Mailmagazin
----------------------------*/
#mam-block article {
  width: 896px;
  margin: 40px auto 0;
background-color: #FFF;
  border-left: 2px solid #4aaa64;
  border-right: 2px solid #4aaa64;
  border-bottom: 2px solid #4aaa64;
  border-top: 2px solid #4aaa64;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  border-bottom-top-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  border-bottom-bottom-radius: 7px;
  position: relative;
  padding: 30px 0 40px; }
  #mam-block article h3 {
    position: absolute;
    top: -40px;
    left: -2px; }
  #mam-block article div.mam-box {
    width: 896px;
    margin: 0 auto; }
    #mam-block article div.mam-box p.btn {
      text-align: center;
      margin: -101px auto 17px; }
  #mam-block article div.txt {
    width: 780px;
    margin: 0 auto; }
  #mam-block article h4 {
    color: #CB5194;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px; }
  #mam-block article p {
    font-size: 12px;
    line-height: 1.4;
    color: #545454;
    margin-top: 15px; }
  #mam-block article p.btn {
    margin-top: 15px; }
  #mam-block article ul.list-red {
    margin-top: 15px;
    margin-left: 5px; }
    #mam-block article ul.list-red li {
      color: #545454;
      font-size: 12px;
      line-height: 1.4;
      background: url(../ikujii/images/list_red.gif) no-repeat left center;
      padding-left: 10px; }
  #mam-block article p.caption {
    margin-top: 15px;
    font-size: 12px;
    line-height: 1.4;
    color: #545454; }

#mam-block #login-box,
#mam-block #mypage-box {
  margin-bottom: 50px; }
  #mam-block #login-box table.table_mypage_login,
  #mam-block #mypage-box table.table_mypage_login {
    margin: 30px auto 0; }
    #mam-block #login-box table.table_mypage_login td,
    #mam-block #mypage-box table.table_mypage_login td {
      padding: 5px; }
      #mam-block #login-box table.table_mypage_login td.td_label,
      #mam-block #mypage-box table.table_mypage_login td.td_label {
        font-size: 12px;
        text-align: right; }
      #mam-block #login-box table.table_mypage_login td.td_forget,
      #mam-block #mypage-box table.table_mypage_login td.td_forget {
        padding: 10px 0 0 70px; }
        #mam-block #login-box table.table_mypage_login td.td_forget a,
        #mam-block #mypage-box table.table_mypage_login td.td_forget a {
          background: url(../images/ico-list.png) no-repeat left center;
          min-height: 11px;
          padding-left: 15px;
          color: #007CC4;
          font-size: 12px; }
          #mam-block #login-box table.table_mypage_login td.td_forget a:hover,
          #mam-block #mypage-box table.table_mypage_login td.td_forget a:hover {
            text-decoration: underline; }
  #mam-block #login-box form#form_mypage_login input,
  #mam-block #mypage-box form#form_mypage_login input {
    width: 250px;
    vertical-align: middle; }

#form-box {
  width: 760px;
  margin: 30px auto; }
  #form-box.mgnT80 {
    margin-top: 80px; }
  #form-box .h2_table_mail_title {
    background-color: #49A963;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px; }
  #form-box table.table_mail {
    border: 1px solid #D1D1D1;
    width: 758px; }
    #form-box table.table_mail th, #form-box table.table_mail td {
      padding: 10px 20px;
      border: 1px solid #D1D1D1;
      font-size: 12px; }
    #form-box table.table_mail th {
      width: 210px;
      text-align: right;
      background-color: #EFEFEF; }

#mam-block #mypageL-box {
  background: #FFF url(../mailmagazin/images/lala.jpg) no-repeat 670px 40px;
  min-height: 300px; }

#mam-block #login-box p.btn,
#mam-block #mypage-box p.btn,
#mam-block #mypageL-box p.btn {
  text-align: center;
  margin-top: 30px; }
  #mam-block #login-box p.btn.tohome,
  #mam-block #mypage-box p.btn.tohome,
  #mam-block #mypageL-box p.btn.tohome {
    margin-top: 80px; }
  #mam-block #login-box p.btn button,
  #mam-block #mypage-box p.btn button,
  #mam-block #mypageL-box p.btn button {
    background: none;
    border: none; }
#mam-block #login-box p.btn-caption,
#mam-block #mypage-box p.btn-caption,
#mam-block #mypageL-box p.btn-caption {
  font-size: 12px;
  text-align: center;
  margin-top: 30px; }
#mam-block #login-box p.btn-caption + p.btn,
#mam-block #mypage-box p.btn-caption + p.btn,
#mam-block #mypageL-box p.btn-caption + p.btn {
  margin-top: 15px; }
#mam-block #login-box p.btn-l,
#mam-block #mypage-box p.btn-l,
#mam-block #mypageL-box p.btn-l {
  margin-top: 20px; }
  #mam-block #login-box p.btn-l.first,
  #mam-block #mypage-box p.btn-l.first,
  #mam-block #mypageL-box p.btn-l.first {
    margin-top: 30px; }

#mypage-box section.txt-kiyaku {
  width: 760px;
  margin: 30px auto; }
  #mypage-box section.txt-kiyaku h3.h3_kiyaku {
    margin: 20px 0 3px 0;
    font-size: 12px;
    line-height: 1.4;
    position: static;
    top: 0;
    font-weight: normal; }
  #mypage-box section.txt-kiyaku p.p_kiyaku {
    font-size: 12px;
    line-height: 1.4;
    margin: 0px 0 20px 0; }

/* --------------------------
    Module
----------------------------*/
.hidden {
  display: none; }

.floatL {
  float: left; }

.floatR {
  float: right; }

.txt-center {
  text-align: center; }

/* Margin */
.mgnT10 {
  margin-top: 10px; }

.mgnT15 {
  margin-top: 15px; }

.mgnT20 {
  margin-top: 20px; }

.mgnT25 {
  margin-top: 25px; }

.mgnT30 {
  margin-top: 30px; }

.mgnT35 {
  margin-top: 35px; }

.mgnT40 {
  margin-top: 40px; }

.mgnT45 {
  margin-top: 45px; }

.mgnT50 {
  margin-top: 50px; }

/* Padding */
.pdnT10 {
  padding-top: 10px; }

.pdnT15 {
  padding-top: 15px; }

.pdnT20 {
  padding-top: 20px; }

.pdnT25 {
  padding-top: 25px; }

.pdnT30 {
  padding-top: 30px; }

.pdnT35 {
  padding-top: 35px; }

.pdnT40 {
  padding-top: 40px; }

.pdnT45 {
  padding-top: 45px; }

.pdnT50 {
  padding-top: 50px; }

/* Column */
/* Text */
.iconlink {
  min-height: 13px;
  padding-left: 16px;
  background: url(images/ico_link001.png) no-repeat left top; }

strong {
  font-weight: bold; }

.txt-small {
  font-size: 12px !important; }

/* Text color */
.font-ora {
  color: #ff4800; }

.font-red {
  color: #f00; }

.font-blue {
  color: #00F; }

.font-green {
  color: #219402; }

.content-page{
  font-size: 14px;
  line-height: 150%;
  color: #545454;
}

/*-----career-----*/
.career{
  margin:0;
  padding:0 0 0 13px;
  list-style:disc;
  }

.box01{
  background:url(../images/box-background.jpg) left top no-repeat;
  /*background:url(../images/box-bg.png) left top no-repeat;*/
  width:560px;
  height:80px;
  padding:20px 25px;
  float:left;
}

.box01 h3{
  font-size:13px;
  }

.lala{
  width:150px;
}

.require{
  background:url(../images/require.jpg) left top no-repeat;
  height:200px;
  padding:20px 30px;
}

.benefit{
  background:url(../images/benefit.jpg) left top no-repeat;
  height:160px;
  padding:20px 30px;
  }
/*-----end career-----*/

.line{
  background:url(../images/btn-track.png) left top repeat-x;
  height:16px;
  width:100%;
  margin:10px 0;
}

/*-----menunew----*/

#primary_nav_wrap
{
  /*margin-top:15px*/
  position: absolute;
  top: 0;
  right: 0;
}

#primary_nav_wrap ul
{
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul a
{
  display:block;
  color:#805E1C;
  text-decoration:none;
  line-height:32px;
  padding:10px 15px 5px 15px;
  font-family: 'KGFont';
  font-size: 12px; 
}

#primary_nav_wrap ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
  background: rgba(255, 255, 255, 0.5);
}

#primary_nav_wrap ul li:hover
{
  background:#fff;
}

#primary_nav_wrap ul li a:hover
{
  color: #FF8400;
}

#primary_nav_wrap ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#fff;
  padding:0
}

#primary_nav_wrap ul ul li
{
  float:none;
  width:200px
}

#primary_nav_wrap ul ul a
{
  line-height:120%;
  padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
  top:0;
  left:100%
}

#primary_nav_wrap ul li:hover > ul
{
  display:block
}

.games {
  width: 600px;
  height: 700px;
  border: none;
  overflow: hidden;
}

.content{
	float: right;
	width: 200px;
}

.excerpt-dash, .date, .title{
	display:none;
}

.listing-item{
	padding-top:0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

.listing-item:after {
  content: " ";
    display: block;
  background:url(../images/btn-track.png) left top repeat-x;
  height:16px;
  width:100%;
  margin:10px 0;
}

.events-box{
  float: right;
  padding-top: 30px;
}

.events-box-top{
	background:url(../images/box_01.png) left top no-repeat;
	height:24px;


}


.events-box-bottom{
	background:url(../images/box_03.png) left top no-repeat;
	height:24px;

}


.events-box-middle{
	width:160px; 
	padding:0 20px;
	font-size:11px;
	line-height:1.2;
	background:url(../images/box_02.png) left top repeat-y;
}

.events-box ul{
	display:inline;
	list-style: circle;
	}

.events-box ul li{
	padding:0;
	margin:0 0 0 15px;
}

.boxinline{
  display: inline-block;
   width: 400px; 
   padding: 20px;
}

.boxinlinemov{
display: inline-block;
   width: 300px; 
   padding: 10px;
   word-wrap: break-word;
}

.boxinlinemov a {
  font-family: 'KGFont';
  font-size: 12px;
  text-decoration: none; 
   color: #ffffff;
}

.boxreel{
  width:960px;
    height:190px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.movnewthumb{
  position:absolute;
   display:block;
    height:auto; 
    width:auto;
    margin-top: 370px;
    z-index: 100;
}

/*-----locaiton-----*/
.content-location-top{
  background:url(../images/green_01.png) left top no-repeat;
  width:600px;
  padding:0px 50px;
  height:60px;

}

.content-location-bottom{
  background:url(../images/green_03.png) left top no-repeat;
  width:700px;
  height:53px;

}

.content-location{
  background:url(../images/green_02.png) left top repeat-y;
  width:600px;
  padding:1px 50px;
  margin:0;

}


.location-button{
  width:600px;
  float:left;
}

.location-button ul{
  display:inline;
  list-style:none;
}



.location-button ul li {
  background:url(../images/button-off.jpg) left top no-repeat;
  width:140px;
  height:22px;
  float:left;
  text-align:center;
  margin:0 10px 8px 0 ;
  color:#009245;
  font-weight:bold;
  padding:16px 0;
}

.location-button ul li a{
  color:#009245;
  
}

.location-button ul li a:hover{
  color:#009245;
  background:url(../images/hover-bg.png) center bottom no-repeat;
  height:15px;
  width:100%; 
}


#selected{
  background:url(../images/button.jpg) left top no-repeat;
  color:#ffffff;

  }
.location-add{
  background:url(../images/location-bg.png) left top no-repeat;
  width:240px;
  height:111px;
  padding:20px 25px;
  line-height:1.3;
  float:left;
  margin:0 0 10px 0;
  font-size: 12px;
  }


.location-tel{
  background:url(../images/icon-tel.png) left top no-repeat; 
  height:18px;
  margin:5px 0 0 0;
  padding:2px 0 0 30px;
  color:#666666;
  
}

.gap{
  width:20px;
  height:151px; 
  float:left;
  }

#locationstore{
  margin:0;
  padding:0;
  font-size: 12px;
}

#locationstore li{
  display:inline;
  margin-right:10px;
  float:left;
  width:290px;
  height:151px;
    padding: 20px;
}

.newstore{
  padding:2px 8px;
  background:#FF0000;
  color:#FFFFFF;
  text-decoration:none;
  -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
  font-size:10px;
}


/*-----end locaiton-----*/

.h1page{
  background:url(../images/headerh1.png) left top no-repeat; 
  height:44px;
  margin:5px 0 0 0;
  padding:12px 0 0 20px;
  color:#ffffff;
  font-size:18px;
  font-family: 'KGFont';
}

#merchnav ul{
  display:none;
  width:170px;
  position: absolute;
  padding-top: 15px;
}

#merchnav ul li{
  background:url(../images/headerh1.png) no-repeat;
  background-size: 170px 44px;
  height:44px;
  width: 170px;
  margin:-10px 0 0 0;
  padding:12px 0 0 20px;
  -webkit-filter: drop-shadow(2px 1px 0 #4A2B15)
                  drop-shadow(-1px -1px 0 #4A2B15);
  filter: drop-shadow(2px 1px 0 #4A2B15) 
          drop-shadow(-1px -1px 0 #4A2B15);
}

#merchnav ul li a{
  color:#4A2B15;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

#merchnav ul li:hover{
 -webkit-filter: drop-shadow(2px 1px 0 white)
                  drop-shadow(-1px -1px 0 white);
  filter: drop-shadow(2px 1px 0 white) 
          drop-shadow(-1px -1px 0 white);
}


#merchnav:hover > ul
{
  display:block
}
