@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

img {
  vertical-align: top; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

input, textarea {
  outline: none; }

/* --------------------------- */
/*  base  */
/* --------------------------- */
body {
  -webkit-text-size-adjust: 100%;
  font-family: Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; }

a {
  color: #357dc6;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

/* --------------------------
    Module
----------------------------*/
/* --------------------------
    Header
----------------------------*/
#header {
  background: url(../images/illust-head.png) no-repeat bottom center;
  width: 100%;
  height: 313px; }
  #header h1 {
    text-align: center; }
    
#header-sub {
  width: 100%;
  height: 110px; }
  #header-sub h1 {
    text-align: left; }

#lang {
text-align:right;
padding-top:8px;
padding-right:8px;
}

/* --------------------------
    Footer
----------------------------*/
#footer {
  background-color: #FFF;
  text-align: center;
  padding: 60px 0 30px;
  width: 100%;
  position: relative; }
  #footer div.f-illust {
    position: absolute;
    top: -138px;
    left: 0;
    right: 0;
    margin: auto; }
  #footer p.copy {
    margin-top: 20px; }

/* --------------------------
    Container
----------------------------*/
#container {
  width: 640px;
  background: #b5cd0f url(../images/bg-main.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  
#container-sub {
  width: 640px;
  background: #b5cd0f url(../images/bg-sub.jpg) no-repeat top center;
 }

/* --------------------------
    Home
----------------------------*/
#home-content {
  text-align: center;
  margin-top: -23px;
  padding-bottom: 140px; }

#home-nav ul li {
  margin-top: 20px; }
  #home-nav ul li:first-child {
    margin-top: 0; }

#nav-icon {
  margin-top: 15px; }
  #nav-icon li {
    display: inline-block;
    margin-left: 15px; }
    #nav-icon li:first-child {
      margin-left: 0; }

#bn-list li {
  margin-top: 10px; }

/* --------------------------
    Module
----------------------------*/
.hidden {
  display: none; }

.floatL {
  float: left; }

.floatR {
  float: right; }

.txt-center {
  text-align: center; }

.clear {
  clear: both; }

/* Margin */
.mgnT10 {
  margin-top: 10px; }

.mgnT15 {
  margin-top: 15px; }

.mgnT20 {
  margin-top: 20px; }

.mgnT25 {
  margin-top: 25px; }

.mgnT30 {
  margin-top: 30px; }

.mgnT35 {
  margin-top: 35px; }

.mgnT40 {
  margin-top: 40px; }

.mgnT45 {
  margin-top: 45px; }

.mgnT50 {
  margin-top: 50px; }

/* Padding */
.pdnT10 {
  padding-top: 10px; }

.pdnT15 {
  padding-top: 15px; }

.pdnT20 {
  padding-top: 20px; }

.pdnT25 {
  padding-top: 25px; }

.pdnT30 {
  padding-top: 30px; }

.pdnT35 {
  padding-top: 35px; }

.pdnT40 {
  padding-top: 40px; }

.pdnT45 {
  padding-top: 45px; }

.pdnT50 {
  padding-top: 50px; }

/* Column */
/* Table */
table {
  border-collapse: collapse;
  border: 1px solid #000; }
  table th,
  table td {
    border: 1px solid #000; }

/* Event */
#event-block section {
background: #FFF;
padding-bottom:20px;
}
 #event-block section.event-box article {
    width: 620px;
    margin: 0px auto 0; }
    #event-block section.event-box article h1 {
      color: #E7529F;
      font-size: 24px;
      font-weight: bold;
      margin-top: 10px; }
    #event-block section.event-box article p {
      color: #007CC4;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.5;
      text-align:left;
      margin-top: 5px; }

/* sub-nav */

#sub-nav ul li {
  margin-top: 20px; }
 }
 
 /* --------------------------
    Brand
----------------------------*/

#shop-index-block {
  width: 640px;

  margin: 0 auto;
  position: relative; }
  #shop-index-block h2.ttl-page {
    margin: -5px 0 0 18px;
    position: absolute;
    z-index: 999; }
  #shop-index-block #shop-house {
    background: url(../../brand/images/shop-house.png) no-repeat center top;
    position: absolute;
    width: 640px;
    height: 732px;
    top: 80px; }

#map-asia {
  background: url(../../brand/images/map-asia.png) no-repeat center center;
  width: 640px;
  height: 462px;
  position: relative;
  top: 93px;
  left: 0px; }
  #map-asia dl {
    position: absolute;
    text-align: center; }
    #map-asia dl#date {
      font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
      top: -3px;
      left: 530px;
      color: #06A724;
      text-align: right;
      font-size: 11px; }
    #map-asia dl#japan {
      top: 96px;
      left: 517px;
      cursor: pointer; }
    #map-asia dl#china {
      top: 113px;
      left: 324px;
      cursor: pointer; }
    #map-asia dl#vietnam {
      top: 200px;
      left: 320px; }
    #map-asia dl#malaysia {
      top: 289px;
      left: 342px;
      cursor: pointer; }
    #map-asia dl#cambodia {
      top: 275px;
      left: 212px; }
    #map-asia dl#thai {
      top: 200px;
      left: 115px;
      cursor: pointer; }
    #map-asia dl#total {
      top: 195px;
      left: 500px; }
    #map-asia dl#philippines {
      top: 320px;
      left: 460px;
      cursor: pointer; }
    #map-asia dl#indonesia {
      top: 375px;
      left: 282px;
      cursor: pointer; }
    #map-asia dl dt {
      margin-bottom: 5px; }
    #map-asia dl dd {
      font-size: 34px;
      font-weight: bold;
      color: #06A724;
      font-family: Helvetica, Arial, Verdana, sans-serif;
      font-weight: bold; }
    #map-asia dl#total dd {
      color: #d26b10;
      font-size: 45px; }
  #map-asia p.btn-map {
    left: 35px; }

#map-japan {
  background: url(../../brand/images/map-japan.png) no-repeat center center;
  width: 645px;
  height: 462px;
  position: relative;
  top: 93px;
  left: 0px; }
  #map-japan ul li {
    position: absolute; }
    #map-japan ul li#btn-hokkaido {
      top: 85px;
      left: 454px; }
    #map-japan ul li#btn-chubu {
      top: 225px;
      left: 284px; }
    #map-japan ul li#btn-kanto {
      top: 300px;
      left: 398px; }
    #map-japan ul li#btn-kinki {
      top: 390px;
      left: 270px; }
    #map-japan ul li#btn-shikoku {
      top: 275px;
      left: 100px; }
    #map-japan ul li#btn-kyushu {
      top: 378px;
      left: 45px; }
  #map-japan p.btn-map {
    left: 20px; }

#map-asia p.btn-map,
#map-japan p.btn-map {
  position: absolute;
  top: 0;
  cursor: pointer; }
#map-asia.hide,
#map-japan.hide {
  display: none; }

#content-area {
  position: relative;
  z-index: 999; }

#brand-block {
padding:740px 0 20px;
background-color: #FFF;
}

#brand-block article {
  width: 620px;
  margin: 44px auto 0;
  background-color: #FFF;
  border-left: 2px solid #4aaa64;
  border-right: 2px solid #4aaa64;
  border-bottom: 2px solid #4aaa64;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
  position: relative;
  padding: 30px 0 20px; }
  #brand-block article:after {
    content: "";
    display: table;
    clear: both; }
  #brand-block article h3 {
    position: absolute;
    top: -35px;
    left: -2px; }

  #brand-block article p.btn {
    text-align: center; }
  #brand-block article p.btn a:hover img {
    opacity: 0.7; }
  #brand-block article h4 {
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 15px;
    color : #1aa62f;
    text-shadow:
    	-1px -1px 0px #fff,
    	1px -1px 0px #fff,
    	1px 1px 0px #fff,
    	-1px 1px 0px #fff,
    	-2px -2px 2px #fff,
    	2px -2px 2px #fff,
    	2px 2px 2px #fff,
    	-2px 2px 2px #fff,
    	-2px -2px 2px #1aa62f,
    	2px -2px 2px #1aa62f,
    	2px 2px 2px #1aa62f,
    	-2px 2px 2px #1aa62f;
     }
  #brand-block article p {
   width:600px;
   margin-left:10px;
    color: #545454;
    font-size: 18px;
    text-align:left;
    line-height: 1.5;
    margin-top: 10px; }
  #brand-block article ul {
    margin-top: 10px; }
    #brand-block article ul li {
      font-size: px;
      margin: 20px 20px 40px 0;
      display: inline-block; }
      #brand-block article ul li a {
        background: url(../../brand/mages/ico-list.png) no-repeat left center;
        min-height: 11px;
        padding-left: 15px; }

#area-block {
  padding-bottom: 30px; }
  #area-block #area-nav {
    width: 620px;
    margin: 40px auto 0; }
    #area-block #area-nav:after {
      content: "";
      display: table;
      clear: both; }
    #area-block #area-nav ul {
      float: left; }
      #area-block #area-nav ul li {
        font-size: 12px;
        margin: 0 15px 0 0;
        display: inline-block; }
        #area-block #area-nav ul li a {
          background: url(../images/ico-list.png) no-repeat left center;
          min-height: 11px;
          padding-left: 15px;
          color: #007CC4; }
          #area-block #area-nav ul li a:hover {
            text-decoration: underline; }
    #area-block #area-nav p#back-japan {
      float: right;
      font-size: 12px;
      display: inline-block; }
      #area-block #area-nav p#back-japan a {
        background: url(../images/ico-list.png) no-repeat left center;
        min-height: 11px;
        padding-left: 15px;
        color: #007CC4; }
        #area-block #area-nav p#back-japan a:hover {
          text-decoration: underline; }
  #area-block article {
    width: 620px;
    margin: 50px auto 0;
    background-color: #FFF;
    border-left: 2px solid #4aaa64;
    border-right: 2px solid #4aaa64;
    border-bottom: 2px solid #4aaa64;
    -webkit-border-bottom-left-radius: 7px;
    border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    border-bottom-right-radius: 7px;
    position: relative;
    padding: 50px 0; }
    #area-block article h3 {
      position: absolute;
      top: -35px;
      left: -2px; }
    #area-block article #shop-icon ul {
      margin-right: 15px;
      text-align: right; }
      #area-block article #shop-icon ul li {
        display: inline-block; }
    #area-block article #prefecture-nav {
      margin: 15px 0 0 15px; }
      #area-block article #prefecture-nav li {
        font-size: 12px;
        margin: 0 15px 0 0;
        display: inline-block; }
        #area-block article #prefecture-nav li a {
          background: url(../images/ico-list.png) no-repeat left center;
          min-height: 11px;
          padding-left: 15px;
          color: #007CC4; }
          #area-block article #prefecture-nav li a:hover {
            text-decoration: underline; }

h2.h2_area_title {
  background-color: #56A646;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  width: 848px;
  margin: 30px auto 0;
  color: #FFF; }

table.table_aeonmap_area {
  width: 868px;
  margin: 0 auto;
  border: 1px solid #D4D4D4; }
  table.table_aeonmap_area tr th, table.table_aeonmap_area tr td {
    border: 1px solid #D4D4D4;
    font-size: 12px;
    padding: 5px 10px; }
  table.table_aeonmap_area tr th {
    text-align: center;
    background-color: #F5F5F5; }
    table.table_aeonmap_area tr th.th_name {
      width: 148px; }
    table.table_aeonmap_area tr th.th_address {
      width: 450px; }
    table.table_aeonmap_area tr th.th_tel {
      width: 95px; }
  table.table_aeonmap_area tr td.td_name {
    line-height: 1.4; }
  table.table_aeonmap_area tr td.td_address {
    width: 220px;
    line-height: 1.4; }
  table.table_aeonmap_area tr td.td_icon {
    text-align: center; }

div.to_top {
  text-align: right;
  font-size: 12px;
  margin: 10px 15px 0 0; }
  div.to_top a {
    background: url(../images/ico_top.png) no-repeat left center;
    padding-left: 15px;
    min-height: 11px;
    color: #007CC4; }
    div.to_top a:hover {
      text-decoration: underline; }

